# Python files
*.pyc
*.pyo
__pycache__/

# Virtual environment
movie_stills_env/

# SQLite database
db.sqlite3

# Django-specific files
*.log

# .env file for environment variables (don't push to GitHub)
.env

# IDE files (if you use any editors like VS Code, PyCharm, etc.)
.vscode/
.idea/

# macOS system files
.DS_Store

# Python package manager files (if using pipenv, pip, etc.)
Pipfile.lock
Pipfile
